#frame-parent {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.start-group,
.end-group {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.end-group {
    text-align: right;
}

.start-group h3,
.end-group h3 {
    margin-top: 12px;
}

.phases {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.phase {
    flex: 1;
    position: relative;
}

.phase-bar {
    height: 10px;
    margin-bottom: 40px;
    background-color: #485265;
}

.phase-bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: var(--progress);
    height: 100%;
    width: calc(100% - var(--progress));
    background-color: #485265;
    height: 10px;
}

.phase:not(:last-child)::after {
    content: '';
    position: absolute;
    top: -15px;
    right: 0;
    height: 40px;
    width: 1px;
    background-color: #fff;
}

.phase-info {
    text-align: center;
    padding: 10px;
}

.phase-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
}

.phase-date {
    font-size: 14px;
}

.arrow {
    display: none;
}

.swiper-container {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.swiper-wrapper {
    display: flex;
}

.phases {
    position: relative;
    width: 100%;
}

.mobile-nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

@media screen and (max-width: 768px) {
    .phases {
        width: 100%;
        position: relative;
    }

    .end-group{
        display: none;
    }

    .arrow{
        display: flex;
    }

    .phases .swiper-container {
        flex-wrap: nowrap; 
    }

    .swiper-wrapper{
        flex-wrap: nowrap; 
    }

    .phases .swiper-wrapper {
        display: flex;
        justify-content: flex-start;
    }

    .phases .swiper-slide.phase {
        flex: 0 0 auto;
    }
}