#frame-parent{
    margin-top: 70px;
}

.first-phase,
.second-phase,
.third-phase,
.fourth-phase {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative; 
}

.first-phase-bar,
.second-phase-bar,
.third-phase-bar,
.fourth-phase-bar {
    height: 10px; 
    position: relative;
    background-color: #485265; 
    margin-bottom: 40px;
}

.first-phase-bar::before,
.second-phase-bar::before,
.third-phase-bar::before,
.fourth-phase-bar::before {
    content: "";
    display: block;
    height: 100%;
    background-color: #68C5F9; 
    position: absolute;
    top: 0;
    left: 0;
    width: attr(data-progress); 
}

.first-phase::after,
.second-phase::after,
.third-phase::after{
    content: '';
    position: absolute;
    top: -15px; 
    right: 0;
    height: 40px;
    width: 1px;
    background-color: #fff;
}

.first-phase-info,
.second-phase-info,
.third-phase-info,
.fourth-phase-info {
    text-align: center;
    padding: 10px; 
}

.phase-title {
    font-size: 16px; 
    font-weight: bold;
    margin-bottom: 12px;
}

.phase-date {
    font-size: 14px; 
}