header {
    background: linear-gradient(180deg, rgba(12, 17, 54, 0.00) 61.4%, rgba(12, 17, 54, 0.50) 93.88%), url('../images/hero.jpeg') lightgray 50% / cover no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px 16px 16px;
    width: 100%;
}

.logo-wrapper img {
    width: 131.467px;
    height: auto;
    flex-shrink: 0;
}

.phone img {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.phone p {
    color: #E4B271;
    font-family: Hauora;
    font-size: 14.694px;
    font-weight: 600;
    line-height: 200%;
    letter-spacing: 0.588px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 24px 0 0;
    flex-grow: 1;
    justify-content: space-between;
}

nav ul li a {
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn {
    color: #0B1931;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    text-transform: uppercase;
    height: 40px;
    padding: 12px 16px;
    cursor: pointer;
    background-color: #E4B271;
    border: none;
}

.banner-bg {
    position: relative;
    width: 70%;
    text-align: left;
    padding-top: 30px;
    background-position: center top;
    min-height: 550px;
}

.banner-bg h3,
.banner-bg h1 {
    color: #FFF;
    font-family: Montserrat;
    font-style: normal;
    text-transform: uppercase;
    position: absolute;
    left: 15%;
}

.banner-bg h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 14px;
    top: 70%;
}

.banner-bg h1 {
    font-size: 72px;
    font-weight: 400;
    line-height: 100%;
    top: 75%;
    margin-bottom: -50px;
}

.banner-bg h1 span {
    color: #E4B271;
}