@import url('./css-reset.css'); 
@import url('./font-awesome.css');
@import url('./header.css');
@import url('./frame.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

body{
    background-color: #0B1931;
    border-radius: 8px;
}

.container{
    max-width: 1440px;
    display: flex;
    flex-direction: row;
}

.section{
    max-width: 1320px;
    display: flex;
    padding-top: 120px;
}