.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.news h3 {
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
}

.news-news {
    display: flex;
    overflow-x: auto; 
    gap: 15px;
}

.news-new {
    flex: 0 0 auto; 
    width: calc(25% - 15px); 
}

.news-new img {
    width: 100%;
    margin-bottom: 24px;
}

.news-new h2 {
    margin-bottom: 8px;
}

.news-new p:nth-of-type(1) {
    color: rgba(255, 255, 255, 0.50);
    margin-bottom: 8px;
}

.news-new p:nth-of-type(2) {
    margin-bottom: 0;
}

/*FOR MOBILE BELOW*/

@media (max-width: 1024px) {
    .news-new {
        width: calc(33.33% - 15px); 
    }
}

@media (max-width: 768px) {
    .news-new {
        width: calc(50% - 15px);
    }
}

@media (max-width: 480px) {
    .news-news {
        flex-wrap: nowrap; 
        overflow-x: auto; 
        -webkit-overflow-scrolling: touch; 
        width: 100%;
    }

    .news-new {
        flex: 0 0 auto; 
        margin-right: 15px; 
        width: 90%;
    }

    .news-new:first-of-type {
        margin-right: 0; 
    }
}