.stages {
    display: flex;
    flex-direction: column;
}

.stages h3 {
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
}

.rectangle-parent {
    display: flex;
    margin-top: 128px;
    background: white;
}

.rectangle-parent:nth-child(odd) {
    flex-direction: row-reverse;
}

.frame-item-images {
    display: flex;
    gap: 5px;
    width: 50%; 
    margin-top: -32px; 
    margin-bottom: -32px; 
}

.frame-item-images img {
    width: calc(50% - 3px);
}

.frame-item {
    display: flex;
    width: 50%; 
    align-items: center;
    padding: 131px 56px;
}

.frame-item-text {
    width: 100%;
}

.frame-item-text h2 {
    color: #000;
    line-height: 30px;
    margin-bottom: 20px;
}

.frame-item-text p {
    color: #000;
    font-size: 14px;
    line-height: 150%;
}

.frame-item-text p span {
    color: #9C7848;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
}

/*FOR MOBILE BELOW*/

@media (max-width: 768px) {
    .stages{
        padding-top: 150px !important;
    }

    .stages{
        width: 100% !important;
    }

    .stages h3 {
        margin-bottom: 50px;
    }
    .stages h2{
        margin-bottom: 80px;
    }

    .frame-item-images{
        margin-top: 0px;
    }

    .frame-item{
        padding: 80px 16px;
    }

    .frame-item-text {
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #E4B271;
    }

    .rectangle-parent:last-child .frame-item-text {
        border-bottom: none;
    }

    .frame-item-text h2{
        margin-bottom: 16px;
    }

    .frame-item-text p{
        margin-bottom: 64px;
    }

    .rectangle-parent {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .frame-item-images,
    .frame-item {
        width: 100%;
        justify-content: center;
        gap: 2.39px 3.39px;
    }
    
    .frame-item-images img {
        width: calc(50% - 3.39px); 
    }
}