.stages {
    flex-direction: column;
}

.stages h3 {
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
}

.rectangle-parent {
    display: flex;
    margin-top: 128px;
    background: white;
}

.frame-item-images {
    display: flex;
    gap: 5px;
    width: 50%; 
    margin-top: -32px; 
    margin-bottom: -32px; 
}

.frame-item-images img {
    width: calc(50% - 3px);
}

.frame-item {
    display: flex;
    width: 50%; 
    align-items: center;
    padding: 131px 56px;
}

.frame-item-text {
    width: 100%;
}

.frame-item-text h2 {
    color: #000;
    line-height: 30px;
    margin-bottom: 20px;
}

.frame-item-text p {
    color: #000;
    font-size: 14px;
    line-height: 150%;
}

.frame-item-text p span {
    color: #9C7848;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
}

/*FOR MOBILE BELOW*/

@media (max-width: 768px) {
    .stages h2{
        margin-bottom: 80px;
    }

    .rectangle-parent {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 0px;
    }
    
    .frame-item-images,
    .frame-item {
        width: 100%;
        justify-content: center;
    }
    
    .frame-item {
        margin-top: 20px;
    }
    
    .frame-item-images {
        margin-top: -8px;
        margin-bottom: -8px; 
    }
    
    .frame-item-images img {
        width: calc(50% - 5px); 
    }
}